body {
    background-image: url("https://oir.mobi/uploads/posts/2021-03/1616430089_30-p-zadnii-fon-dlya-saita-35.jpg");
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
  }